/* 
    main.css 
    Artem Bulatov
*/

body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    border: 2px solid #282838;
    border-radius: 4px;
    color: #e0e0e0;
    padding: 7px 14px;
}
.danger{
    background-color: #a03030;
}
.success{
    background-color: #107010;
}

/* Menu style */
#upper-menu{
    margin: 0px;
    padding: 15px;
    height: 40px;
    background-color: #20e050;
}

.menu-item{
    display: inline-block;
}

.inline{
    display: inline;
}

.left{
    float: left;
}

.right{
    float: right;
}

#content{
    margin: 10px 60px;
    
}
.fieldset{
    margin-top: 20px;
    margin-bottom: 20px;
}

.actionset{
    margin-top: 30px;
    margin-bottom: 20px;
}

#content .form-wrapper{
    margin: auto;
    width: initial;
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* File */
#content form{
    margin: auto;
    border: 2px solid #282838;
    border-radius: 4px;
    padding: 5px 10px;
    box-sizing: border-box;
}

form .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

form .filefor-label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

form .filefor-label:focus,
form .filefor-label:hover {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: red;
    cursor: pointer;
}

.form-container{
    width: 33.3%;
    margin: auto;
}

.fieldset label{
    width: 33.3%;
}

.fieldset input{
    width: 66.6%;
}

.table-container{
    margin: auto;
}

.table-container h3{
    margin: auto;
    width: auto;
    text-align: center;
}

#files-table{
    margin: auto;
}
table td{
    padding: 4px;
    background-color: #e0e0e0;
}

.tab{
    display: none;
    min-height:200px;
    padding:10px;
    display:none;
}

.tab-shown{
    display: block;
    min-height:200px;
    padding:10px;
}

.tab-button{
    background: #dedede;display: block;height: 40px;
    line-height: 40px;text-align: center;
    width: 80px;float: right;font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius: 4px 4px 0px 0px;
}

#tabbox{
    display: inline-block;
}

#tabbox a
{
    color: #000;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#tabbox .signup-tab-button
{
    margin-left:8px;
}

#tabbox .select
{
    background-color:#107010;
}

.help-text{
    
}

.help-error{
    color: #a03030;
}