<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Nice PDF - simple HTML pdf stuff maker{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link type="text/css" rel="stylesheet" href='/static/css/main.css'/>
    <script type='application/javascript'>
        {% block js-head %}
        {% end %}
    </script>

    <style>

    </style>
</head>
<body>
    <div id='upper-menu'>
        <div class='inline'>
            <span>Простой конвертер Nice PDF</span>
        </div>
        {% if current_user %}
        <div class='right inline'>
            <span class='menu-item'>День добрый, {{ current_user.email }}</span>
            <span class='menu-item'><form action='/auth/sign-out/' method='POST'><button type='submit' class='danger'>Выйти</button></form></span>
        </div>
        {% end %}
    </div>
    <div id='content'>
    {% block content %}
    <div>HTML Content</div>
    {% end %}
    </div>

    <script type='application/javascript'>
        {% block js-body %}
        {% end %}
    </script>
</body>
</html>