{% extends 'base.html' %}

{% block js-head %}

/* Показать вкладку по CSS селектору */
function showTab(cssSelector){
    let allTabs = document.querySelectorAll('.tab');
    for (var i = 0; i != allTabs.length; i++){
        let tab = allTabs[i];
        tab.classList.remove('tab-shown');
    }

    let tab = document.querySelector(cssSelector);
    tab.classList.add('tab-shown');
}

/* При нажатии на кнопку вкладки */
function onTabSelect(el){
    let allTabButtons = document.querySelectorAll('.tab-button');
    for (var i = 0; i != allTabButtons.length; i++){
        let current = allTabButtons[i];
        current.classList.remove('select');
    }
    el.classList.add('select');
    let selectorString = '#' + el.getAttribute('for');
    showTab(selectorString);
}

/* При загрузке документа */
function onLoadHandler(){
    showTab('#sign-up-container');
    let tabButtons = document.querySelectorAll('.tab-button');
    for (var i = 0; i != tabButtons.length; i++){
        let tabButton = tabButtons[i];
        tabButton.addEventListener('click', function(){onTabSelect(tabButton);});
    }
    document.querySelector('#sign-up-tab-button').click();
}

document.addEventListener('DOMContentLoaded', onLoadHandler, false);


{% end %}

{% block content %}
<div id='container' class='form-container'>
    <div id="tabbox">
        <a href="#" id="sign-up-tab-button" class="tab-button" for='sign-up-container'>Signup</a>
        <a href="#" id="sign-in-tab-button" class="tab-button select" for='sign-in-container'>Login</a>
    </div>
    <div id='sign-up-container' class='tab'>
        <form action='/auth/sign-up/' method='POST'>
            <h3>Зарегистрироваться</h3>
            <div class='fieldset'>
                <label for='id-email-sign-up'>Email</label>
                <input name='email' placeholder='user@example.com' maxlength='50' id='id-email-sign-up' type='email'>
            </div>
            <div class='fieldset'>
                <label for='id-password-sign-up'>Пароль</label>
                <input name='password' placeholder='********' maxlength='40' minlength='8' id='id-password-sign-up' type='password'>
                <br>
                {% try %}
                <small class='help-text help-error'>{{ error }}</small>
                {% except %}
                {% end %}
            </div>
            <div class='actionset'>
                <button type='submit' class='success'>Зарегистрироваться</button>
            </div>
        </form>
    </div>
    <div id='sign-in-container' class='tab'>
        <form action='/auth/sign-in/' method='POST'>
            <h3>Войти</h3>
            <div class='fieldset'>
                <label for='id-email-sign-in'>Email</label>
                <input name='email' placeholder='user@example.com' maxlength='50' id='id-email-sign-in' type='email'>
            </div>
            <div class='fieldset'>
                <label for='id-password-sign-in'>Пароль</label>
                <input name='password' placeholder='********' minlength='8' id='id-password-sign-in' type='password'>
                {% try %}
                <small class='help-text help-error'>{{ error }}</small>
                {% except %}
                {% end %}
            </div>
            <div class='button'>
                <button type='submit' class='success'>Войти</button>
            </div>
        </form>
    </div>
</div>
{% end %}