{% extends 'base.html' %}

{% block content %}
<div class='form-wrapper'>
    <form action='/upload-file/' method='POST' enctype="multipart/form-data">
        <div class='fieldset'>
            <label for='id-file' class='filefor-label' style='width: 100%;'>Выберите файл</label>
            <input type="file" name="file-upload" id="id-file" class='inputfile'>
        </div>
        <div class='button'>
            <button type='submit' class='success'>Конвертировать</button>
        </div>
    </form>
</div>
<div class='table-container'>
    <h3>Files uploaded</h3>
    <table id='files-table'>
        <thead>
            <th>ID</th>
            <th>File</th>
            <th>User</th>
            <th>Pages</th>
        </thead>
        <tbody>
            {% for pdf in user_files %}
            <tr>
                <td>{{ pdf.id }}</td>
                <td><a href='/download/pdf/{{pdf.filename}}/'>{{pdf.filename}}</a></td>
                <td>{{ pdf.user.email }}</td>
                <td>
                    {% if pdf.png_file_list.all() %}
                    <table>
                        <thead>
                            <th>Page number</th>
                        </thead>
                        <tbody>
                            {% for png in pdf.png_file_list.all() %}
                            <tr>
                                <td><a href='/download/png/{{png.filename}}/'>Page {{png.page}}</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}